<section class="up-form">
    <div class="up-form__box-wrapper">
        <div class="up-form__title">
            <h1>Login</h1>
        </div>

        <form action="">
            <div class="up-form__form-fields">
                <label>Matrícula:</label>
                <input type="text" placeholder="Digite aqui sua matrícula" />
            </div>

            <div class="up-form__form-fields">
                <label>Senha:</label>
                <input type="password" placeholder="Digite aqui sua senha" />
            </div>

            <div class="up-form__form-fields">
                <button class="submit">Entrar</button>
                <!--<a href="#">Esqueci minha senha</a>-->
            </div>
        </form>
    </div>
</section>
