<section class="up-list">
    <div class="up-list__box">
        <div class="up-list__table-name">Vendedores</div>
        <div class="up-list__box-wrapper">
            <table class="up-list__table" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Email</th>
                        <th>Criado em</th>
                    </tr>
                </thead>
                <tbody id="up-list__vendedor"></tbody>
            </table>
        </div>
        <br />
        <br />
        <div class="up-list__table-name">Marcas</div>
        <div class="up-list__box-wrapper">
            <table class="up-list__table" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Fabricante</th>
                        <th>Representante</th>
                        <th>Criado em</th>
                    </tr>
                </thead>
                <tbody id="up-list__marcas"></tbody>
            </table>
        </div>
        <br />
        <br />
        <div class="up-list__table-name">Modelos</div>
        <div class="up-list__box-wrapper">
            <table class="up-list__table" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Marca Id</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Versao</th>
                        <th>Criado em</th>
                    </tr>
                </thead>
                <tbody id="up-list__modelos"></tbody>
            </table>
        </div>
        <br />
        <br />
        <div class="up-list__table-name">Veículos</div>
        <div class="up-list__box-wrapper">
            <table class="up-list__table" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>ModeloId</th>
                        <th>Nome</th>
                        <th>Cor</th>
                        <th>Combustivel principal</th>
                        <th>Criado em</th>
                    </tr>
                </thead>
                <tbody id="up-list__veiculos"></tbody>
            </table>
        </div>
        <br />
    </div>
</section>
